*{
    padding: 0;
    margin: 0;
}

.card{
    width: 30%;
    margin: auto;
    margin-top: 5%;
    background-color: rgb(160, 160, 255);
    padding: 1%;
}

.parameter-bar{
    background-color: rgb(109, 93, 255);
    padding: 1%;
    display: flex;
}

.parameter{
    width: 1%;
    height: 1%;
    flex-grow: 1;
    margin-left: 5%;
    margin-right: 5%;
}

.parameter > img:hover{
    cursor:pointer;
}

.parameter > img{
    display: block;
    width: 50%;
    margin: auto;
}

.description{
    padding: 1%;
    text-align: center;
}

.description > textarea{
    width: 100%;
    height: 8vh;
    resize: none;
}

.profile{
    width: 90%;
    display: block;
    margin: auto;
    padding: 1%;
}

.profile > img:hover{
    cursor:pointer;
}

.name{
    text-align: center;
}





#parameterId{
    background-color: green;
    position:fixed;
    margin: auto;
    top: 0;
    margin-top: 5%;
    padding: 1%;
    height: 80%;
}

#parameterId > textarea{
    resize: none;
}

#parameterProfileList{
    background-color: red;
    overflow-y: auto;
    height: 100%;
}

#parameterId > #parameterProfileList > img{
    width: 100%;
    display: flex;
}